@use "@/styles/mixins" as *;

.container {
  width: 100%;
  background-color: #f4f4f4;
  padding: 5.16rem 0;
}

.contact-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.left-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  font-size: 18px;
  line-height: 22px;

  span {
    color:  #F88C34;
  }
  .content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.1em;
    letter-spacing: 0.03em;
    color: #0c0c0c;
  }

  .content-description {
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #464646;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    align-self: center;
    width: fit-content;
    padding: 0.375rem 1.125rem;
    background:  #F88C34;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 1.126em;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-align: center;
    border: 2px solid  #F88C34;
    border-radius: 0.416rem;
    &:hover {
      background: #0379ce;
      border: 2px solid #0379ce;
    }
  }
}

.right-container {
  width: 69%;
  display: flex;
  justify-content: center;

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    max-width: 660px;
    .form-content-column {
      display: flex;
      gap: 0.833rem;
      width: 100%;
    }

    .input {
      font-style: normal;
      font-weight: 700;
      color: #0c0c0c;
      max-width: 320px;
      width: 50%;
      height: 70px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        width: 100%;
        height: 42px;
        padding: 12px 16px;
        background: #ffffff;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
      }
    }

    .input-full {
      font-style: normal;
      font-weight: 700;
      color: #0c0c0c;
      width: 100%;
      height: 70px;
      max-width: 660px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > * {
        width: 100%;
        height: 42px;
        padding: 12px 16px;
        background: #ffffff;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
      }
    }

    .input-captcha {
      font-style: normal;
      font-weight: 700;
      color: #0c0c0c;
      width: 100%;

      max-width: 660px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      div {
        display: flex;
        gap: 10px;

        svg {
          font-size: 30px;
          cursor: pointer;
        }
      }
      p {
        color: red;
      }
      h1 {
        width: 50%;
        height: 42px;
        padding: 12px 16px;
        background: #0379ce;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
        text-align: center;
      }
      input {
        width: 50%;
        height: 42px;
        padding: 12px 16px;
        background: white;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
        text-align: center;
      }
    }

    .input-message {
      font-style: normal;
      font-weight: 700;
      color: #0c0c0c;
      width: 100%;
      max-width: 660px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > * {
        width: 100%;

        padding: 12px 16px;
        background: #ffffff;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
      }
    }
    button:disabled {
      cursor: not-allowed;
    }

    .btn-submit {
      cursor: pointer;
      align-self: center;
      width: fit-content;
      padding: 0.375rem 1.125rem;
      background:  #F88C34;
      color: white;
      font-style: normal;
      font-weight: 700;
      font-size: 1.126em;
      line-height: 1.5em;
      letter-spacing: 0.02em;
      text-align: center;
      border: 2px solid  #F88C34;
      border-radius: 0.416rem;
      &:hover {
        background: #0379ce;
        border: 2px solid #0379ce;
      }
    }
  }
}

@include respond(extraSmall) {
  .contact-container {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
  }

  .left-container {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }

  .right-container {
    width: 100%;
    margin: 0 auto;
    .form-container {
      font-size: 14px;
      line-height: 18px;
      max-width: none;
      .form-content-column {
        flex-direction: column;
      }

      .input {
        width: 100%;
        height: 70px;
        max-width: none;
      }
      .input-full {
        max-width: none;
      }

      .input-message {
        max-width: none;
      }
      .btn-submit {
        align-self: center;
        width: fit-content;
        padding: 0.375rem 1.125rem;
        background:  #F88C34;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 1.126em;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        text-align: center;
        border: 2px solid  #F88C34;
        border-radius: 0.416rem;
      }
    }
  }
}
@include respond(small) {
  .contact-container {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
  }

  .left-container {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }

  .right-container {
    width: 100%;
    margin: 0 auto;
    .form-container {
      font-size: 15px;
      line-height: 19px;
      max-width: none;
      .form-content-column {
        flex-direction: column;
      }

      .input {
        width: 100%;
        height: 70px;
        max-width: none;
      }
      .input-full {
        max-width: none;
      }

      .input-message {
        max-width: none;
      }
      .btn-submit {
        align-self: center;
        width: fit-content;
        padding: 0.375rem 1.125rem;
        background:  #F88C34;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 1.126em;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        text-align: center;
        border: 2px solid  #F88C34;
        border-radius: 0.416rem;
      }
    }
  }
}

@include respond(medium) {
  .contact-container {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
  }

  .left-container {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }

  .right-container {
    width: 100%;
    margin: 0 auto;
    .form-container {
      font-size: 16px;
      line-height: 20px;
      max-width: none;
      .form-content-column {
        flex-direction: column;
      }

      .input {
        width: 100%;
        height: 70px;
        max-width: none;
      }
      .input-full {
        max-width: none;
      }

      .input-message {
        max-width: none;
      }
      .btn-submit {
        align-self: center;
        width: fit-content;
        padding: 0.375rem 1.125rem;
        background:  #F88C34;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 1.126em;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        text-align: center;
        border: 2px solid  #F88C34;
        border-radius: 0.416rem;
      }
    }
  }
}
@include respond(large) {
  .contact-container {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
  }

  .left-container {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }

  .right-container {
    width: 100%;
    margin: 0 auto;
    .form-container {
      font-size: 16px;
      line-height: 20px;
      width: 100%;
      max-width: none;
      .form-content-column {
        flex-direction: column;
      }

      .input {
        width: 100%;
        height: 70px;
        max-width: none;
      }
      .input-full {
        max-width: none;
      }

      .input-message {
        max-width: none;
      }
      .btn-submit {
        align-self: center;
        width: fit-content;
        padding: 0.375rem 1.125rem;
        background:  #F88C34;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 1.126em;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        text-align: center;
        border: 2px solid  #F88C34;
        border-radius: 0.416rem;
      }
    }
  }
}
@include respond(extraLarge) {
}
