@use "@/styles/mixins" as *;

.container {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  position: relative;
}

.line {
  object-fit: cover;
  z-index: -1;
}
.left-content {
  width: 65%;
  aspect-ratio: 2/1.4;
  position: relative;
  img {
    object-fit: fill;
  }
}

.right-content {
  display: flex;
  gap: 0.833rem;
  width: 30%;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  .team-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.833rem;
    margin: 0 auto;
    .content-title {
      font-style: normal;
      font-weight: 700;
      font-size: 2.5em;
      line-height: 1.5em;

      letter-spacing: 0.03em;
      color: #0c0c0c;

      span {
        color:  #F88C34;
      }
    }

    .content-description {
      font-style: normal;
      font-weight: 400;
      font-size: 1em;
      line-height: 1.5em;
      text-align: justify;

      color: #464646;
    }
  }
}

@include respond(extraSmall) {
  .container {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
  }
  .line {
    display: none;
  }
  .left-content {
    width: 90%;
    margin: 0 auto;
  }

  .right-content {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 22px;

    .team-container {
      width: 100%;
    }
  }
}
@include respond(small) {
  .container {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
  }
  .line {
    display: none;
  }
  .left-content {
    width: 90%;
    margin: 0 auto;
  }

  .right-content {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 22px;

    .team-container {
      width: 100%;
    }
  }
}

@include respond(medium) {
  .container {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
  }
  .line {
    display: none;
  }
  .left-content {
    width: 90%;
    margin: 0 auto;
  }

  .right-content {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 22px;

    .team-container {
      width: 100%;
    }
  }
}
